<h2>マイページ</h2>

<h4>登録情報</h4>

<%= image_tag @user.get_profile_image(100,100) %>
名前<%= @user.name %>
自己紹介<%= @user.introduction %>
メールアドレス<%= @user.email %>

<% if current_user == @user %>
  <%= link_to "編集する", edit_end_user_path(@user) %>
<% end %>

<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <% if post.image.attached? %>
      <%= image_tag post.image, size: "200x200" %>
    <% end %>
    <%= post.title %>
  <% end %>
<% end %>