<div class="container mt-5 pt-5 mb-5">
  <h4 class="mb-4">投稿一覧</h4>
  <div class="row">
    <% @posts.order(created_at: :desc).each do |post| %> <!-- 新しい順に並べ替え -->
      <div class="col-md-4 mb-4">
        <div class="card bg-light h-100">
          <div class="card-body">
            <!-- ユーザ情報 -->
            <div class="d-flex align-items-center mb-3">
              <%= link_to admin_end_user_path(post.user) do %>
                <%= image_tag post.user.profile_image, size: "50x50", class: "rounded-circle mr-3" %>
              <% end %>
              <div>
                <%= link_to post.user.name, admin_end_user_path(post.user), class: "font-weight-bold" %>
              </div>
              <!-- 作成日時 -->
              <div class="ml-auto text-muted">
                <%= post.created_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M") %> <!-- 日本時間に変換 -->
              </div>
            </div>
            <hr>

            <!-- 投稿内容 -->
            <%= link_to admin_post_path(post.id) do %>
              <!-- タイトル -->
              <h5 class="card-title mb-3"><%= post.title %></h5>

              <!-- 画像 (1枚目のみ表示) -->
              <% if post.images.attached? %>
                <div class="mb-3" style="width: 100%; overflow: hidden;">
                  <%= image_tag post.images.first, class: "img-fluid", style: "max-height: 250px; width: 100%; object-fit: cover;" %>
                </div>
              <% end %>
            <% end %>

            <!-- いいねとコメント数 -->
            <div class="d-flex justify-content-between mt-3">
              <div>
                ♡ <%= post.favorites.count %>
              </div>
              <div>
                <span id="comment_count"><i class="fa-regular fa-comment-dots"></i> <%= post.post_comments.count %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>