<div class="container mt-5 mb-5 pt-5">
  <div class="row mb-3">
    <!-- 投稿したユーザー情報 -->
    <div class="col-md-12">
      <%= link_to admin_end_user_path(@post.user) do %>
        <div class="d-flex align-items-center">
          <%= image_tag @post.user.profile_image, size: "50x50", class: "rounded-circle mr-2" %>
          <h5><%= @post.user.name %></h5>
        </div>
      <% end %>
    </div>
  </div>

  <!-- 投稿タイトル -->
  <div class="row mb-3">
    <div class="col-md-12">
      <h2><%= @post.title %></h2>
    </div>
  </div>

  <!-- 投稿本文 -->
  <div class="row mb-3">
    <div class="col-md-12">
      <p><%= @post.body %></p>
    </div>
  </div>

  <!-- 投稿画像 -->
    <% if @post.images.attached? %>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="d-flex flex-wrap">
            <% @post.images.each_with_index do |image, index| %>
              <div class="mb-2" style="width: 23%; margin-right: 2%; margin-bottom: 10px;">
                <%= image_tag image, class: "img-fluid", style: "max-height: 200px; object-fit: cover;" %>
              </div>
              <% if (index + 1) % 4 == 0 %>
                <div class="w-100"></div> <!-- 4枚ごとに改行 -->
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% elsif @post.image.attached? %>
      <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-center">
          <%= image_tag @post.image, size: "300x300", class: "img-fluid" %>
        </div>
      </div>
    <% end %>

  <!-- 削除ボタン -->
  <div class="row mb-3">
    <div class="col-md-12">
      <%= link_to "削除", admin_post_path(@post), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除してよろしいですか？' } %>
    </div>
  </div>

  <!-- コメントカウンター -->
  <div class="row mb-3" id="comment_counter">
    <div class="col-md-12">
      <%= render "admin/post_comments/counter", post: @post %>
    </div>
  </div>

  <!-- コメント一覧 -->
  <div class="row" id="comment_index">
    <div class="col-md-12">
      <%= render "admin/post_comments/index", post: @post %>
    </div>
  </div>
</div>