<%= link_to admin_end_user_path(@post.user) do %>
  <%= image_tag @post.user.profile_image, size: "50x50" %>
  <%= @post.user.name %>
<% end %>

<h2>タイトル</h2>
<p><%= @post.title %></p>

<h2>本文</h2>
<p><%= @post.body %></p>

<% if @post.image.attached? %>
  <%= image_tag @post.image, size: "300x300" %>
<% end %>

<%= link_to "削除", admin_post_path(@post), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>

<div id="comment_counter">
 <%= render "admin/post_comments/counter", post: @post %>
</div>

<div id="comment_index">
 <%= render "admin/post_comments/index", post: @post %>
</div>