<div class="container mt-5 mb-5 pt-5">
  <div class="card mb-4">
    <div class="card-body text-center">
      <%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle mb-3" %>
      <h4><%= @user.name %></h4>
      <p><strong>自己紹介:</strong> <%= @user.introduction %></p>
      <p><strong>メールアドレス:</strong> <%= @user.email %></p>

      <%= link_to '編集する', edit_admin_end_user_path(@user), class: "btn btn-primary mt-3" %>
    </div>
  </div>
  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= link_to admin_post_path(post.id) do %>
          <% if post.images.attached? %>
            <div class="d-flex flex-wrap justify-content-center mb-3" style="gap: 10px; padding: 10px;">
              <% post.images.each_with_index do |image, index| %>
                <div class="mb-2" style="width: 45%; margin-right: <%= '5%' if index.even? %>;">
                  <%= image_tag image, class: "card-img-top", style: "max-height: 120px; width: 100%; object-fit: cover;" %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="card-body">
            <h6 class="card-title"><%= post.title %></h6>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>